pyaml
enum34>=1.1.6
Sphinx
pydata-sphinx-theme==0.13.3
sphinx-book-theme
myst-parser
sphinx_autodoc_annotation
nbsphinx
pillow
matplotlib
folium
sphinx-gallery
nbsphinx
ipython_genutils
folium
sphinxcontrib-youtube